---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/index/presentacion.astro";
import Projectos from "../components/index/projectos/index.astro";
import Estudios from "../components/index/estudios.astro";
---

<Layout title="Juan Molina">
	<main>
		<Presentacion />
		<Projectos />
		<Estudios />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
</style>
