<footer>
    <section id="contacto">
        <h3>Contacto</h3>
        <div>
            <a href="tel:+569 12345678">
                <i class="ti ti-phone"></i>
                +569 12345678
            </a>
        </div>
        <div>
            <i class="ti ti-mail"></i>
                JuanMolina2001@gmail.com
            </a>
        </div>
    </section>
    <p>© 2024 by Juan Molina.</p>
</footer>
<style>
    footer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        background-color: #5e667780;
        padding-inline: 20px;
        border-top: #ffffff54 0.5px solid;
    }
    footer section,
    footer p {
        width: fit-content;
    }
</style>
