<header>
    <div></div>
    <nav>
        <a href="#presentacion" id="home"></a>
        <a href="#proyectos" id="projects"></a>
        <a href="#estudios" id="studies"></a>
        <a href="#contacto" id="contact"></a>
        <a target="_blank" href="https://github.com/JuanMolina2001">
           <i class="ti ti-brand-github"></i>
        </a>
        <a
            target="_blank"
            href="https://www.linkedin.com/in/juan-molina-gallardo-b072b4277?jobid=1234&lipi=urn%3Ali%3Apage%3Ad_jobs_easyapply_pdfgenresume%3BFIFVgkLhS1uhAhP%2F%2BAo8bA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_jobs_easyapply_pdfgenresume-v02_profile"
        >
        <i class="ti ti-brand-linkedin"></i>
        </a>
        <details>
            <summary>
                 <i class="ti ti-language"></i>
            </summary>
            <div>
                <button id="es">Español</button>
                <button id="en">English</button>
            </div>
        </details>
    </nav>
</header>
<style>
    i{
        font-size: 1.4rem;
    }
    header summary {
        list-style: none;
        cursor: pointer;
    }
    header details {
        position: relative;
    }
    header details > div {
        position: absolute;
        background-color: #5e6677;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    header nav {
        display: flex;
        gap: 20px;
        align-items: center;
    }


    header {
        display: flex;
        justify-content: space-around;
        background-color: #5e667780;
        backdrop-filter: blur(10px);
        padding-block: 10px;
        align-items: center;
        border-bottom: #ffffff54 0.5px solid;
        position: fixed;
        width: 100%;
        z-index: 100;
        height: 30px;
    }
</style>
<script>
    const details = document.querySelector("details");
    details?.addEventListener("mouseover", () => {
        details.setAttribute("open", "");
    });
    details?.addEventListener("mouseleave", () => {
        details.removeAttribute("open");
    });
</script>
