---
import Accordion from "./accordion.astro";
---

<section id="proyectos">
    <h2 id="projectsTitle"></h2>
    <div id="projectsList">
        <Accordion
            download="https://drive.google.com/file/d/1CCHQdHVQdbpR6vRvbI37hCS8n70IqO1h/view"
            gh="https://github.com/JuanMolina2001/autophagos"
            techs={["electron.svg", "puppeteer.svg"]}
        />
        <Accordion
            gh="https://github.com/JuanMolina2001/DevFusion"
            techs={["pywebview.png", "preact.svg"]}
        />
        <Accordion
            gh="https://github.com/JuanMolina2001/musicPlayer"
            techs={["electron.svg", "preact.svg"]}
        />
        <Accordion
            gh="https://github.com/JuanMolina2001/API-TNE"
            website="https://tne-api.fly.dev"
            techs={["express.svg"]}
        />
    </div>
</section>
<style is:global>
    #projectsTitle {
        display: flex;
        width: 100%;
        padding-inline-start: 15%;
        padding-block-end: 20px;
    }

    #projectsList {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        box-shadow: 0px 5px 10px 0px #000000a8;
    }

    #projectsList summary {
        background-color: #5e667780;
        padding-inline: 10px;
        border-bottom: #ffffff54 0.5px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #projectsList summary > div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #projectsList summary > div > svg {
        cursor: pointer;
    }

    #projectsList details > div {
        background-color: #7f879980;
        padding: 10px;
    }

    #projectsList details > div > div {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
    }

    #projectsList img:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }

    .btnAccordion {
        width: 24px;
        height: 24px;
        background-image: url("/imagenes/plus.svg");
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #projectsList details[open] .btnAccordion {
        transform: rotate(135deg);
        transition: all 0.3s ease-in-out;
    }
</style>
