<section id="estudios">
    <h2 id="studiesTitle"></h2>
    <hr>
    <div id="studiesInfo">
        <div>
            <h3 class="name"></h3>
            <p class="date"></p>
            <p class="description"></p>
        </div>
        <hr>
        <div>
            <h3 class="name"></h3>
            <p class="date"></p>
            <p class="description"></p>
        </div>
        <hr>

    </div>
</section>
<style>
    #estudios {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: #5e667780;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px #000000a8;
}
#estudios hr{
   width: 100%;
   opacity: 0.5;
}
#studiesInfo{
    width: 95%;
    margin: 0 auto;
}
</style>